@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: "JetBrains Mono", "Fira Code", "Roboto Mono", ui-monospace, monospace;
}

@layer base {
  body {
    @apply font-sans antialiased;
  }
}
